body {
	font-family: "HelveticaNeue-Light",Helvetica,Arial,sans-serif;
	color: #001F3F;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-family: "Lato", sans-serif;
	color: inherit;
}

a {
    color: #FF4136;
 	text-decoration: underline;
}

a:visited {
    color: #85144b;
}

a:hover {
    color: #0074D9;
}

a:active {
    color: red;
}

.post-date {
	color: #0074D9;
	font-size: 95%;
	padding-bottom: 5px;
}

.post-title:hover {
	text-decoration: underline;
}

.subtitle {
	font-family: "Lato";
	color: inherit;
	font-size: 110%;
}

#siteTitle .title a {
	color: inherit;
	text-decoration: none;
}

#siteTitle nav {
	margin-top: 0.75em;
}

#siteTitle nav a {
	color: inherit;
	margin-right: 1.75em;
}

#copyright {
	padding-bottom: 50px;
	text-align: center;
}